<form (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Summon Defendant Name</label>
        <input type="text" class="form-control" id="petitionerType"
        name="petitionerType">
    </div>

    <div class="form-group">
        <label>Summon Defendant Details</label>
        <textarea type="text" class="form-control" id="petitionerDetails"
        name="petitionerDetails"></textarea>
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
